@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

.welcome {
    margin-top: -44rem;
    font-size: larger;
}

.main-content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
    /* padding-top: 80px; */
}

.title-in-about {
    font-size: larger;
    font-weight: bold;
}

.div-in-about {
    margin: 5rem;
}

.fa {
    margin: 20px;

}